:local(.container) {
  align-content: center;
  text-align: center;
  background-color: #252526;
  color: white;
  height: 100%;
  background-image: url("../../resources/images/background.png");
  background-size: 95%;
}

:local(.welcomeText) {
  top: 300px;
  font-family: 'VT323', monospace;
  font-weight: lighter;
  font-size: 64px;
  line-height: 100%;
  position: relative;
}

:local(.cursor) {
  color: white;
}

:local(.welcomeName) {
  color: #5289BF;
}

:local(.welcomeJob) {
  font-size: 100%;
}

:local(.avatar) {
  width: 300%;
}
