:local(.container) {
  align-content: center;
  text-align: center;
  background-color: #252526;
  color: white;
  height: 100%;
  width: 100%;
  background-image: url("../../resources/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

:local(.welcomeText) {
  top: 150px;
  font-family: 'Cutive Mono', monospace;
  font-weight: lighter;
  font-size: 5vw;
  position: relative;
  line-height: 150%;
}

:local(.cursor) {
  color: white;
}

:local(.welcomeName) {
  color: #5CAAC4;
  
}

:local(.welcomeJob) {
  font-size: 100%;
}

:local(.avatar) {
  width: 300%;
}
