:local(.container) {
  align-content: center;
  text-align: center;
  background-color: #252526;
  color: white;
  height: 100%;
  background-image: linear-gradient(-270deg, #252526, #33393C);
}

:local(.welcomeText) {
  padding-top: 15%;
  font-family: 'VT323', monospace;
  font-weight: lighter;
  font-size: 64px;
  line-height: 100%;
}

:local(.cursor) {
  color: white;
}

:local(.welcomeName) {
  color: #BBDDFF;
}

:local(.welcomeJob) {
  font-size: 100%;
}

:local(.avatar) {
  width: 300%;
}
