:local(.mainDivContact) {
  padding: 5% 10% 0;
  background-color: rgb(50, 61, 61);
  height: 100%;
}

:local(.underline) {
  background-color: #fdfdfd;
}

:local(.tittle) {
  color: #F2D9CB;
}

:local(.mainFormDiv) {
  width: 50%;
  padding: 0% 25% 2%;
  text-align: right;
  display: block;
}

:local(.textField) {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}


:local(.textArea) {
  width: 100%;
}

:local(.submitBtn) {
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

:local(.textBnt) {
  font-family: 'Raleway', sans-serif;
}

:local(.submitBtn:hover) {
  display: inline-block;
  background: #7BF2F2;
  border-radius: 10%;
}

:local(.mainFooterDiv) {
  background-color: #252526;
  bottom: 0;
  width: 100%;
  display: inline-block;
}

:local(.iconContact) {
  width: 10%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background: none;
  margin-left: 5%;
}

:local(.iconContact:hover) {  
  background: #5CAAC4;
  border-radius: 50%;
}

:local(.footerIcons) {
  padding: 0 30% 5%;
  text-align: center;
}

:local(.copyrights) {
  padding: 0;
  margin: 0 1%;
}