:local(.tittle) {
    font-family: 'Raleway', sans-serif; 
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}
  
:local(.rootDivTittle) {
    text-align: center;
    color: #252526;
}
  
:local(.underline) {
    height: 8px;
    width: 120px;
    align-content: center;
    background-color: #5D7373;
    display: inline-block;
    margin-bottom: 3%;
}