:local(.bar) {
  background-color: #262826;
  border-bottom: 4px solid #520B0B;
}

:local(.content) {
  color: white;
  font-size: 150%;
}

:local(.btnTabs) {
  padding: 0 0 0 3%;
}

:local(.divisor) {
  color: white;
}

:local(.content:hover) {
  color: #5CAAC4;
  transition-delay: 3ms;
}

li {
  list-style-type: none;
}

a, u {
  text-decoration: none;
}