:local(.bar) {
  background-color: #252526;
}

:local(.content) {
  color: white;
  font-size: 150%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

:local(.btnTabs) {
  padding: 0 0 0 4%;
}

:local(.divisor) {
  color: white;
}

:local(.content:hover) {
  color: #7BF2F2;
  transition-delay: 3ms;
}

:local(.GeneralAbout) {
  background-color: rgb(241, 237, 234);
}

li {
  list-style-type: none;
}

a, u {
  text-decoration: none;
}