:local(.mainDivAbout) {
  padding: 5% 10% 0;
}

:local(.mainTittle) {
  font-family: 'Raleway', sans-serif; 
  margin-top: 20px;
  margin-bottom: 0;
}

:local(.mainTittleDiv) {
  text-align: center;
  color: #252526;
}

:local(.square) {
  height: 5px;
  width: 120px;
  align-content: center;
  background-color: #5D7373;
  display: inline-block;
  margin-bottom: 3%;
}

:local(.mainProfile) {
  display: inline-block;
  width: 50%;
  min-width: 150px;
  vertical-align: top;
}

:local(.avatarImg) {
  width: 50%;
}

:local(.profileInfo){
  position: relative;
  display: inline-block;
  text-align: center;
}

:local(.description){
  color: #252526;
  font-family: 'Cutive Mono', monospace;
  display: inline-block;
  width: 70%;
  min-width: 150px;
}

:local(.descriptionBody){
  color: #252526;
  font-weight: bold;
  line-height: 120%;
}

:local(.tittleDescription){
  color: #252526;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 120%;
}

:local(.mainSkill) {
  width: 50%;
  display: inline-block;
}

:local(.skillsInfo) {
  width: 100%;
  display: inline-block;
}

:local(.skillSet) {
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

:local(.skillBar) {
  width: 80%;
  display: inline-block;
  z-index: -1;
  position: absolute;
}

:local(.skillTittle) {
  display:inline-block;
  width: 16%;
  vertical-align:top;
  padding-top: 3px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #5D7373; 
  color: white;
  font-weight: bold;
  font-family: 'Cutive Mono', monospace;
}

:local(.skillNumber) {
  z-index: 100;
  position: absolute;
  top:0px;
  right: 40px;
  color: #252526;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

