:local(.mainDiv) {
  padding: 150px 100px 0;

}

:local(.mainProfile) {
  display: inline-block;
  width: 50%
}

:local(.avatarImg) {
  width: 60%;
}

:local(.profileInfo){
  position: relative;
  display: inline-block;
  text-align: center;
}

:local(.description){
  color: #252526;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 70%;
}

:local(.mainSkill) {
  width: 50%;
  float: right;
}